.navbar {
    display: flex;
    position: absolute;
    width: 20%;
    align-items: center;
    justify-content: center;
    z-index: 5 !important;
    background-color: transparent;
    margin-left: 40%;
}

.logo {
    height: 49px;
    width: 49px;
    margin: 10px 10px;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    color: gainsboro;
    font-family: 'Poppins', sans-serif;
}